$font-family: 'Outfit', sans-serif;
$light-gray: hsl(212, 45%, 89%);
$dark-gray: hsl(220, 15%, 55%);
$darker-gray: hsl(218, 44%, 22%);
$white: hsl(0, 0%, 100%);
$blue: hsl(228, 45%, 44%);

body {
    background-color: $light-gray;
    font-family: $font-family;

    main {
        max-width: 300px;
        background-color: $white;
        border-radius: 10px;
        padding: 20px 20px 30px 20px;
        margin: 100px auto;
        height: 450px;
    
        img {
            max-width: 300px;
            border-radius: 10px;
        }
        
        .card-text {
            margin: 10px;
            text-align: center;
        
            h1 {
                color: $darker-gray;
                font-size: 1.5rem;
            }
        
            p {
                color: $dark-gray;
            }
        }
    }
    
    footer {
        font-size: 0.7rem;
        text-align: center;
    
        a {
            color: $blue;
        }
    }
}

